{
  "proseWrap": "preserve",
  "bracketSpacing": true,
  "html.format.enable": false,
  "printWidth": 180,
  "tabWidth": 2,
  "singleQuote": true,
  "eslintIntegration": false,
  "semi": true,
  "arrowParens": "avoid"
}