.modal {
  position: absolute;
  width: 400px;
  min-height: 360px;
  top: 50%;
  z-index: 10;
  transform: translate(80%, -50%);
  background-color: #a3b2b8;
}
.modal .modal-content {
  position: relative;
  width: 100%;
}
.modal .modal-content .icon-close-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 26px;
  margin-top: 6px;
}
.modal .modal-content .icon-close-container.back {
  font-size: 14px;
}
.modal .modal-content .icon-close-container img {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  cursor: pointer;
}
.modal .modal-content .user-img-container {
  height: 88px;
  margin: 26px 0 20px 0;
  text-align: center;
}
.modal .modal-content .user-img-container img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.modal .modal-content .main-container {
  min-height: 200px;
  text-align: center;
}
